manifest {
    description = 'Generate some stats on a BAM file'
    author = 'Andrew Duncan'
}

params {
    flagstat_to_json = '/home/aduncan/Documents/one-workflow-many-ways/flagstat2json.sh'
    bamqc_pl = '/home/aduncan/Documents/one-workflow-many-ways/bamqc/bamqc.pl'
    bamfile = '/home/aduncan/Documents/one-workflow-many-ways/bamqc/t/test/neat_5x_EX_hg19_chr21.bam'
    bedfile = '/home/aduncan/Documents/one-workflow-many-ways/bamqc/t/test/SureSelect_All_Exon_V4_Covered_Sorted_chr21.bed'
    outjson = '/home/aduncan/Documents/one-workflow-many-ways/bamqc/t/test/neat_5x_EX_hg19_chr21.json'
    samtools = 'samtools'
}
