cow manifest {
    description = 'Generate some stats on a BAM file'
    author = 'Andrew Duncan'
}

params {
    flagstat_to_json = 'REPLACEME/flagstat2json.sh'
    bamqc_pl = 'REPLACEME/bamqc/bamqc.pl'
    bamfile = 'REPLACEME/bamqc/t/test/neat_5x_EX_hg19_chr21.bam'
    bedfile = 'REPLACEME/bamqc/t/test/SureSelect_All_Exon_V4_Covered_Sorted_chr21.bed'
    outjson = 'REPLACEME/bamqc/t/test/neat_5x_EX_hg19_chr21.json'
    samtools = 'samtools'
}
